.html, body, head {
    margin: 0px;
    padding: 0px;
}

#contenedor-principal {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    /* background-color: rgb(102, 130, 116); */
    position: relative;
    
}
#logo {
    height: 0px;
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
    display: flex;
    justify-content: space-between;
}
#div-boton-cerrar {
    height: 50px;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: end;
}
#img-logo {
    margin: 10px;
    background-color: black;
    z-index: 3;
    width: 60px;
}

#boton-menu-a {
    z-index: 3;
    color: blueviolet;
    margin: 20px;
    width: 40px;
    height: 40px;
    visibility: hidden;
}
#boton-menu-c {
    z-index: 9;
    color: blueviolet;
    margin: 20px;
    width: 40px;
    height: 40px;
    visibility: hidden;
}
#Img-slider {
    overflow: hidden;
    width: 100%;
    z-index: 1;
    margin: 0px;
    padding: 0px;
}
#Img-slider ul {
    display: flex;
    padding: 0px;
    width: 1000%;
    margin: 0px;
    animation: slider 100s infinite;
}
@keyframes slider {
    0% {margin-left: 0%;}
    8% {margin-left: 0%;}
    10% {margin-left: -100%;}
    18% {margin-left: -100%;}
    20% {margin-left: -200%;}
    28% {margin-left: -200%;}
    30% {margin-left: -300%;}
    38% {margin-left: -300%;}
    40% {margin-left: -400%;}
    48% {margin-left: -400%;}
    50% {margin-left: -500%;}
    58% {margin-left: -500%;}
    60% {margin-left: -600%;}
    68% {margin-left: -600%;}
    70% {margin-left: -700%;}
    78% {margin-left: -700%;}
    80% {margin-left: -800%;}
    88% {margin-left: -800%;}
    90% {margin-left: -900%;}
    98% {margin-left: -900%;}
}
#Img-slider li {
    width: 100%;
    list-style: none;
}
#Img-slider img {
    width: 100%;
    height: 75vh;
    object-fit: cover;
}
#contenedor-titulo-principal {
    width: 100%;
    height: 100vh;
    position: absolute;
}
#contenedor-titulo {
    border-radius: 25px;
    width: 35%;
    height: 20vh;
    background-color: rgba(77, 77, 73, 0.507);
    z-index: 2;
    margin: auto;
    overflow: hidden;
    margin-top: 15%;
    text-align: center;
    vertical-align: middle;
}
#boton-menu-a {
    visibility: visible;
    margin-top: 7vh;
    margin-right: 6vh;

} 
#titulo {
    margin-top: 3vh;
    color: white;
    font-size: 32px;
}

#contenedor-pestaña {
    max-width: 120em;    
    padding-top: 0px;
    margin-top: -10.8vh;
    margin-right: 8vh;
    background-color: rgba(19, 18, 18, 0);
    /* @include neo(1,1em,1em) */
}

#ul-nav {
    /* z-index: 2; */
    background-color: rgba(21, 56, 44, 0);
    /* width: 100%; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; 
}
#nav {
    display: grid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    list-style: none;
    padding-top: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
    width: auto;
    z-index: 1;
    background-color: rgba(102, 130, 116, 0.8);
}
#nav.active {
    color: black;
    background-color: white;
    margin-left: -2vh;
}

#logo-nav-img {
    height: 35px;
    width: 35px;
    margin-right: 10px;
    padding-bottom: 0px;
    margin: auto;
}

#contenedor-panel {
    height: 100%;
    margin-top: 20vh;
    width: 96%;    
    background-color: rgb(102, 130, 116);
    position: relative;
    
}
.panel {
    margin: 10px;
    padding: 1em;
    position: absolute;
    background-color: rgba(42, 42, 202, 0.565);
    visibility: hidden;
    margin-bottom: -10vh;
}

.panel.active {
    height: 100%;
    width: 100%;
    visibility: visible;
    background-color: rgba(72, 62, 62, 0.008);
}
#panel-uno {
    display: flex;
    align-items: center;
    margin-top: 10vh;
    padding-bottom: 30vh;
}
#boton-red {
    padding: 5px;
    height: fit-content;
    margin-right: 10vh;
}
#img-red-panel-1 {
    max-height: 45vh;
}
#parrafo {
    text-align: justify;
    margin-right: 1em;
} 
@media (min-width: 550px) {
    @media (max-width: 970px) {
        .html, body {
            max-width: 100%;
            /* overflow: hidden; */
        }
        #contenedor-pestaña {
            visibility: hidden;
            height: 200px;
            width: 400px;
            background-color: rgba(0, 0, 0, 0.002);
            margin-top: -60.1vh;
            /* visibility: hidden; */
            width: auto;
        }
        #panel-uno {
            margin-left: 2vh;
            margin-top: -10vh;
            display: block;
        }
        #Img-slider {
            margin: 1%;
            width: 98%;
        } 
        #Img-slider img {
            width: 100%;
        }
        #logo {
            width: 100%;
        }
        #img-logo {
            margin: 40px;
        }
        #img-red-panel-1 {
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 1%;
        }
        #contenedor-panel{
            margin-top: 60vh;
        }
        #parrafo {
            
            padding: 0px;
            width: 100%;
            margin-left: 0px;
            margin-bottom: 3%;

        }
        .panel {
            padding: 0px;
        }
        #contenedor-titulo {
            width: 98%;
            border-radius: 0px;
            margin-left: 1%;
            background-color: rgba(48, 50, 51, 0.531);
            margin-top: 64.5vh;
            justify-content: center;
            height: 12%;
        }
        #boton-menu-a {
            visibility: visible;
            margin-top: 6vh;
            margin-right: 5vh;
    
        } 
        #titulo {
            font-size: 22px;
        } 
        
        /* configuraciones de nav y ul nav para evitar  que afecten la 
        visualización en moviles */
        #boton-red {
            margin-top: 3%;
        }
        #ul-nav {
            position: relative;
            width: 25vh;
            z-index: 9;
            display: block;
            float: right;
            margin: 0px;
            padding: 0px;
            margin-right: -6.6vh;
        }   
        #nav {
            display: flex;
            border-top-left-radius: 10px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 10px;  
            margin-bottom: 2vh; 
            height: 10vh;    
            background-color: rgba(14, 14, 187, 0.803);  
        }

        /*clases activas de los elementos*/
        #contenedor-pestaña.active{
            visibility: visible;
        }
        #boton-menu-a.active {
            visibility: hidden;
        }
        #boton-menu-c.active {
            visibility: visible;
        }
        #logo-nav-img.active {
            height: 55px;
            width: 55px;
            padding: 0px;
            margin-top: -10px;
            margin-right: 10px;
        }
        
    }
    
    
}
/* Cuando el ancho sea menor a 750px y el alto 600px como mínimo el menú cambia a modo movil*/
@media (max-width: 550px) {
        .html, body {
            max-width: 100%;
            /* overflow: hidden; */
        }
        #contenedor-pestaña {
            visibility: hidden;
            height: 200px;
            width: 400px;
            background-color: black;
            margin-top: -60.1vh;
            /* visibility: hidden; */
            width: auto;
        }
        #panel-uno {
            margin-left: 2vh;
            display: block;
        }
        #Img-slider {
            margin: 0px;
            width: 100%;
        } 
        #Img-slider img {
            width: 100%;
        }
        #logo {
            width: 100%;
        }
        #img-logo {
            margin: 20px;
        }
        #img-red-panel-1 {
            margin-top: 20px;
            margin-bottom: 20px;
            width: 98%;
        }
        #contenedor-panel{
            margin-top: 30vh;
        }
        #parrafo {
            margin: 0px;
            padding: 0px;
            width: 98%;
        }
        .panel {
            padding: 0px;
        }
        #contenedor-titulo {
            width: 100%;
            border-radius: 0px;
            
            background-color: rgba(48, 50, 51, 0.531);
            margin-top: 63.1vh;
            justify-content: center;
            height: 12%;
        }
        #boton-menu-a {
            visibility: visible;
            margin-top: 4vh;
            margin-right: 1vh;
        } 
        #titulo {
            font-size: 22px;
            margin-left: 20px;
            margin-right: 20px;
        }
        /* configuraciones de nav y ul nav para evitar  que afecten la 
        visualización en moviles */
        #boton-red {
            margin-top: 3%;
        }
        #ul-nav {
            position: relative;
            width: 25vh;
            z-index: 9;
            display: block;
            float: right;
            margin: 0px;
            padding: 0px;
            margin-right: -8vh;
        }   
        #nav {
            display: flex;
            border-top-left-radius: 10px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 10px;  
            margin-bottom: 2vh; 
            height: 10vh;    
            background-color: rgba(14, 14, 187, 0.803);  
        }   
        /*clases activas de los elementos*/
        #contenedor-pestaña.active{
            visibility: visible;
        }
        #boton-menu-a.active {
            visibility: hidden;
        }
        #boton-menu-c.active {
            visibility: visible;
        }
        
}
/* Configuraciones para pantalla mayor a 1350 pixeles*/

@media (min-width: 970px) {
    @media (max-width:1350px) {
        #logo-nav-img.active {
            height: 55px;
            width: 55px;
            padding: 0px;
            margin-top: -10px;
        }
        #contenedor-pestaña {
            margin-top: -12.2vh;
        }
        #boton-menu-a {
            visibility: hidden;
        } 
    }
        
} 

@media (min-width: 1350px) {
    #logo-nav-img.active {
        height: 55px;
        width: 55px;
        padding: 0px;
        margin-top: -10px;
    }
    #contenedor-pestaña {
        margin-top: -11.1vh;
    }
    #boton-menu-a {
        visibility: hidden;
    }
    
} 
