{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <!-- estilos bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
        </script>
</head>
<body>
    <div id="content-form">
     <form id="form-contact" action="{% url 'okform' %}" class="needs-validation" method="post">
        {% csrf_token %}
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationCustom01">Nombre</label>
            {{form.nombre}}
            <div class="valid-feedback">
                Correcto!
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label id="margin" for="validationCustom02">Apellido</label>
            {{form.apellido}}
            <!-- <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Perez" required> -->
            <div id="margin" class="valid-feedback">
                Correcto!
            </div>
          </div>
          <div id="margin" class="col-md-4 mb-3">
            <label id="margin" for="validationCustomUsername">E-mail</label>
            <div id="margin" class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
              </div>
              {{form.email}}
              <!-- <input type="text" class="form-control" id="validationCustomUsername" placeholder="E-mail" aria-describedby="inputGroupPrepend" required> -->
              <div class="invalid-feedback">
                Por favor ingrese un E-mail valido!.
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label  for="validationCustom03">Ciudad</label>
            {{form.ciudad}}
            <!-- <input type="text" class="form-control" id="validationCustom03" placeholder="Ciudad" required> -->
            <div class="invalid-feedback">
                Por favor ingrese una Ciudad valida.
            </div>
          </div>
          <div id="margin" class="col-md-3 mb-3">
            <label  for="validationCustom04">Provincia</label>
            {{form.provincia}}
            <!-- <input type="text" class="form-control" id="validationCustom04" placeholder="Provincia" required> -->
            <div id="margin" class="invalid-feedback">
                Por favor ingrese una Provincia valida.
            </div>
          </div>
          <div  id="margin" class="col-md-3 mb-3">
            <label id="margin" for="validationCustom05">CP</label>
            {{form.cpostal}}
            <!-- <input type="text" class="form-control" id="validationCustom05" placeholder="CP" required> -->
            <div id="margin" class="invalid-feedback">
                Por favor ingrese una CP valida.
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck">
              Aceptar los terminos y condiciones
            </label>
            <div class="invalid-feedback">
              Debe aceptar los terminos y condiciones antes de enviar.
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Enviar formulario</button>
      </form>
    </div>
      <style>
        .form-row{
            display: flex;
        }
        #content-form{
            padding-top: 5rem;
            padding-bottom: 5rem;
            width: 75%;
            margin: auto;
        }
        #validationCustom02, #validationCustom02 #validationCustom03, #validationCustom05, #margin {
            margin-left: 1rem;
        }

       
      </style>
</body>
</html>
{% endblock %}